#entete {
    width: 90%;
    height: 87px;
    padding-top: 10px;
    margin: auto;
  }
  #entete a {
    font-weight : bold;
    color: black;
  }

.cv {
    float: left;
    width: 50%;
    padding: 20px ;
    box-sizing: border-box;
}

fieldset{
    text-align: center; 
    font-size: 20px;
}
.optionbar{
    height: 41px;
    margin-top:  60px;
    margin-bottom:  40px;
    background: #F5F5F5;

}
.telecharger {
    display: flex;
    padding: 6px ;
    width : 21cm;
    margin: auto;
}
.telecharger div{
    margin: auto;
}