
<div id="entete" class="align-self-center" >
    <h1 class="d-flex justify-content-between ">EDACY<a routerLink="/accueil">ESPACE CV</a> <span id="cercle" class="text-center" ></span> </h1>
  </div>

<div class="optionbar"> 
  <div class="telecharger">
    <div> <button routerLink="/editer" type="button" class="btn btn-outline-success">CV</button></div>
    <div><button routerLink="/profil" type="button" class="btn btn-outline-info">Profil</button></div>
  </div>
</div>

<div style="width: 80%; margin: auto;">

  <h1> Ajout </h1>

      <div class="cv">
        <form [formGroup]="competence" (ngSubmit)="create(competence)">
          <fieldset>Compétences</fieldset>
          <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" formControlName="nom" class="form-control" id="nom" placeholder="nom">
          </div>
          <div class="form-group">
            <label for="niveau">Niveau</label>
            <input type="text" formControlName="niveau" class="form-control" id="niveau" placeholder="Niveau">
          </div>
          <div class="form-group">
            <label for="type">Type</label>
            <input type="text" formControlName="type" class="form-control" id="type" placeholder="type">
          </div>
          <button type="submit" class="btn btn-warning">Submit</button>
        </form>
      </div>
      <div class="cv">
        <form [formGroup]="formation" (ngSubmit)="create1(formation)">
          <fieldset>Formations</fieldset>
          <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" formControlName="nom" class="form-control" id="nom" placeholder="Nom de la formation">
          </div>
          <div class="form-group">
            <label for="lieu">Lieu</label>
            <input type="text" formControlName="lieu" class="form-control" id="lieu" placeholder="Lieu">
          </div>
          <div class="form-group">
            <label for="date">Date</label>
            <input type="text" formControlName="date" class="form-control" id="date" placeholder="Date de la formation">
          </div>
          <button type="submit" class="btn btn-warning">Submit</button>
        </form>
      </div>

      <div class="cv">
        <form [formGroup]="langue" (ngSubmit)="create3(langue)">
          <fieldset>Langues</fieldset>
          <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" formControlName="nom" class="form-control" id="nom" placeholder="Nom de la langue">
          </div>
          <div class="form-group">
            <label for="niveau">Niveau</label>
            <input type="text" formControlName="niveau" class="form-control" id="niveau" placeholder="Bon ou Excellent ou debutant ">
          </div>
          <button type="submit" class="btn btn-warning">Submit</button>
        </form>
      </div>

      <div class="cv">
        <form [formGroup]="experience" (ngSubmit)="create2(experience)">
          <fieldset>Expériences</fieldset>
          <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" formControlName="nom" class="form-control" id="nom" placeholder="nom">
          </div>
          <div class="form-group">
            <label for="debut">Date de début</label>
            <input type="text" formControlName="debut" class="form-control" id="debut" placeholder="date de début">
          </div>
          <div class="form-group">
            <label for="fin">Date de fin</label>
            <input type="text" formControlName="fin" class="form-control" id="fin" placeholder="date de fin">
          </div>
          <div class="form-group">
            <label for="entreprise">Entreprise</label>
            <input type="text" formControlName="entreprise" class="form-control" id="entreprise" placeholder="entreprise">
          </div>
          <div class="form-group">
            <label for="mission">Mission</label>
            <input type="text" formControlName="mission" class="form-control" id="mission" placeholder="mission">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" formControlName="description" class="form-control" id="description" placeholder="description">
          </div>
          <button type="submit" class="btn btn-warning">Submit</button>
        </form>
      </div>
</div>
<br>
<div style="margin : auto; width: 80%;">
    <h1> Supprimer </h1>  
</div>
<br>
<div class="container">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col" colspan="5">Compétences</th>
            </tr>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Type</th>
            <th scope="col">Niveau</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let c of talent.competences; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td> {{c.nom}} </td>
            <td> {{c.type}} </td>
            <td> {{c.niveau}} </td>
            <td> <img width="20px" height="20px" (click)="delete(c._id)" src="../../../assets/images/delete.png" alt="Supprimer"></td>
          </tr>

        </tbody>
      </table>
      <br>
      <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col" colspan="5">Formations</th>
            </tr>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Lieu</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of talent.formations; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td> {{c.nom}} </td>
            <td> {{c.lieu}} </td>
            <td> {{c.date}} </td>
            <td> <img width="20px" height="20px" src="../../../assets/images/delete.png" alt="Supprimer"></td>
          </tr>

        </tbody>
      </table>
      <br>
      <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col" colspan="4">Langues</th>
            </tr>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Niveau</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let c of talent.langues; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td> {{c.nom}} </td>
            <td> {{c.niveau}} </td>
            <td> <img width="20px" height="20px" (click)="delete1(c._id)" src="../../../assets/images/delete.png" alt="Supprimer"></td>
          </tr>

        </tbody>
      </table>
      <br>
      <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col" colspan="8">Experiences</th>
            </tr>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Date du Début</th>
            <th scope="col">Date de la Fin</th>
            <th scope="col">Entreprise</th>
            <th scope="col">Mission</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let c of talent.experiences; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td> {{c.nom}} </td>
            <td> {{c.debut}} </td>
            <td> {{c.fin}} </td>
            <td> {{c.entreprise}} </td>
            <td> {{c.mission}} </td>
            <td> {{c.description}} </td>
            <td> <img width="20px" height="20px" src="../../../assets/images/delete.png" alt="Supprimer"></td>
          </tr>
        </tbody>
      </table>
</div>
