


<div style="width: 80%; margin: auto;">
  <h5 style="cursor: pointer" routerLink="/liste">liste des cv</h5>
  <h1> INVITE ENTREPRISE</h1> 

      <div class="cv">
        <form [formGroup]="competence" (ngSubmit)="create(competence)">
          <fieldset>Compétences</fieldset>
          <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" formControlName="contactName" class="form-control" id="nom" placeholder="nom">
          </div>
          <div class="form-group">
            <label for="niveau">Email</label>
            <input type="text" formControlName="contactEmail" class="form-control" id="niveau" placeholder="Niveau">
          </div>
          <div class="form-group">
            <label for="type">Object</label>
            <input type="text" formControlName="contactObject" class="form-control" id="type" placeholder="type">
          </div>
          <label for="type">Message</label>
            <input type="text" formControlName="contactMessage" class="form-control" id="type" placeholder="Consultez nos talents via http://localhost:4200/entreprise">
          
          <button type="submit" class="btn btn-warning">Submit</button>
        </form>
      </div>
      </div>
    
      