

#entete {
    width: 90%;
    height: 87px;
    padding-top: 10px;
    margin: auto;
  }
  #entete a {
    font-weight : bold;
    color: black;
  }

.Generale
{

    margin : auto;

    width : 21cm;
    height : 29.7cm;
    padding: 2.5cm;
    position: relative;
    background-color : #ffffff;
    box-shadow: 0px 4px 21px #00000066;
}
#part1{
    width: 40%;
}
#sectionUn
{
    width: 20%;
    float: right;
    position :absolute;
 
}

.separateurJaune
{
    background-color: #ffcc00;
    height: 2px;
}

#titre{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
}
#imageLogo
{
    width: 50px;
    height: 50px; 
    top :2.5cm;
    right: 2.5cm;
    position: absolute;
}
.petitinfo p{

font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 5px;   
}
.enteteCV p {
    
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 5px;  
}

#enteteTexte ul {
    top: 2.5cm;
    padding-left: 0cm;
    position: absolute;
}
#sectionDeux{
    margin-top: 10px;
    position: absolute;

}

.titreCompetences{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
}
b{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}
p  {
    font-style: normal;
    font-size: 12px;
    line-height: 14px;  
}
li{
    font-style: normal;
    font-size: 10px;
    line-height: 14px;
}
th {
    border:1px solid #D1D3C8;
    padding: 1px 3px;
    font-style: normal;
    font-size: 10px;
    font-weight: bold;
}
table{
    width: 100%;
    border: 1px solid #D1D3C8;
    background-color: #ffcc00d7;
    text-align: center;
}

td{
    border:1px solid #D1D3C8;
    font-style: normal;
    font-size: 9px;
    padding: 2px 5px ;
}
.special td {
    color: #b4b6ad;
    font-style: normal;
    font-size: 9px;
}
.b{
    background-color: #61BFAD;
}
.b1{
    background-color: rgba(97, 191, 174, 0.76);
}
.niveau{
    background-color: #e0d08fd7;
} 

.optionbar{
    height: 41px;
    margin-top:  60px;
    margin-bottom:  40px;
    background: #F5F5F5;

}
.telecharger div {

    margin: auto;
}

.telecharger {
    display: flex;
    padding: 6px ;
    width : 21cm;
    margin: auto;
}

svg {
    // width: ;
    margin: auto;
}
.langue {
    display: flex;
    justify-content: space-between;
}

.outils {
    display: flex;
    // justify-content: space-between;
}

.cv {
    // float: left;
    // width: 20%;
    // margin: 20px 10px;
    padding: 20px ;
    box-sizing: border-box;
    border: 1px solid gray ;
}
fieldset{
    text-align: center; 
    font-size: 20px;
}
