
<div id="entete" class="align-self-center" >
    
    <h1 class="d-flex justify-content-between ">EDACY<a routerLink="/entreprise" style="cursor: pointer" class="font-weight-bold">PAGE ADMIN</a> <span id="cercle" class="text-center" ></span> </h1>
    
  </div>
<div class="baniere">
   <div class="container">
      <div  class="row align-items-center">
          <div class="col-sm-6 text-right"><button routerLink="/mail" class="envoi"> Share </button></div>
          <div  class="col-sm-6 text-right"  >
            <ul class="list-unstyled">
              <li style="font-size: 18px;" > <a routerLink="/entreprise" href="">Vues</a>  </li>
              <li style="font-size: 18px;" > <a routerLink="/admin" href="">Commentaires</a></li>
            </ul>
          </div>
      </div>
   </div>  
</div>
  
    <br>
<div style="margin : 10px 0px;" class="filtre">

  <div  class="container">
    <div class="row justify-content-center">
      <div class="col-sm ">
        
        <label >Cohort</label>
        <select class="custom-select">
            <option selected>All cohorts</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>  
        </select>
            
        </div>
        
        <div class="col-sm">
          <label for="Select2">Programme</label>
            <select class="custom-select">
                <option selected>All programs</option>
                <option value="1">Web</option>
                <option value="2">Mobile</option>
                <option value="3">Data Science</option>
            </select>
        </div>

        <div class="col-sm">              
                <label for="Select3">Recherche</label>
                    <input class="form-control mr-sm-2" [(ngModel)]="search" type="search" placeholder="Active Research" aria-label="Search">
                  
        </div>
      </div>
    </div>
</div>

<div>
  <section >
      <article *ngFor="let cv of cvs|filtreTalent:search" class="debutimages">

         <ng-container *ngIf="cv.email!='carine@gmail.com'">
        
            <div class="talent">     
                <div  *ngFor="let im of img">
                    <ng-container *ngIf="cv._id==im.talent">
                    <img style="width: 350px; height: 350px" src="http://localhost:9000/fichiers/{{im.sound}}" alt="imageTalent">
                    <p> <strong>{{cv.nom}}</strong></p>
                    <button (click)="update(cv._id)" style="box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.4);border: 2px solid #ffcc00; border-radius: 4px; background-color: rgba(97, 191, 174, 0.76)">Publish</button>
                    <button (click)="delete(cv._id)" style="box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.4);border: 2px solid #ffcc00; border-radius: 4px; background-color: rgba(97, 191, 174, 0.76)">Remove</button>
                    <button (click)="Afficher(cv._id)" style="box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.4);border: 2px solid #ffcc00; border-radius: 4px; background-color: rgba(97, 191, 174, 0.76)"  data-toggle="modal" data-target=".bd-example-modal-lg" >Apercu</button>
                  </ng-container>
                </div>                 
          </div>          
          <!-- "#exampleModalLong" -->
        </ng-container>  
        <!-- style="font-size: 60x; " href="" -->
      </article>

    
                    <!-- <h2 style="text-align:center"><strong> DATA</strong></h2> -->
    </section>
</div>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background: transparent; border :none;">
          
        <div class="">
            <h5 class="" style="text-align: center; color: white; " >{{cv.nom}}</h5>
          </div>
          <div class="modal-body">    
            <div class="Generale" id="contentToConvert">
              <div id="part1">
                <div class="enteteCV">
                  <p>NOM: {{cv.nom}}</p>
                </div>
              <div class="petitinfo">      
                <p>NUMERO: {{cv.numero}} </p>
                <p>MAIL: {{cv.email}} </p>
                <p>LINKEDIN: {{cv.linkedin}}</p>
                <p>GITHUB: {{cv.github}}</p>
              </div>  
              <div id="blockLogo">
                <img style="border-radius: 3px" id="imageLogo" src="../../../assets/images/edacy.jpg" alt="ImageEdacy" >
              </div>
            </div>
            
            <hr class="separateurJaune">
            <div>
              <h1 id="titre">{{cv.programme}}</h1>
            
                <div >       
                <table>
                  <thead>
                    <tr>
                      <th class="b" colspan="6"> technologies  </th>
                      <th class="b" colspan="6"> Compétences </th>
                      <th colspan="8">mentions</th>
                    </tr>
                  </thead>
                  <tbody>
                          
                    <tr class="b" *ngFor="let c of cv.competences">
                                <td colspan="6">
                                    <ng-container >
                                       {{c.nom}}
                                    </ng-container>
                                  </td>
                                <td colspan="6">
                                    <ng-container > <!--AFFICHER LES COMPETENCES TECHNIQUES SEULEMENT-->
                                      {{c.type}}
                                    </ng-container>
                                  </td>
                                  <td style="background-color: #ffcc00d7" colspan="8">
                                <ng-container ><!--AFFICHER LES COMPETENCES TECHNIQUES SEULEMENT-->
                                  {{c.niveau}}
                                </ng-container>
                              </td>
                      </tr>      
                  <tr>    
                  </tbody>
                </table>
                </div>
              </div>
                <hr class="separateurJaune">
                <h1 class="titreCompetences">Experiences professionnelles</h1>
                <div class="listeexp">
                
                <div *ngFor="let c of cv.experiences"> 
                  
                    <b>{{c.nom}} / {{c.entreprise}} / {{c.debut}} - {{c.fin}}</b> <br>
                    <ul>
                      <li>MISSION: {{c.mission}}</li>
                      <li> {{c.description}}</li>
                      <li> Environnement: Windows</li>
                    </ul>  
                    
                </div>
                </div>
                
                
                  <hr class="separateurJaune">
                <h1 class="titreCompetences">Formations</h1>
                <div *ngFor="let c of cv.formations">
            
                  <p><b>{{c.nom}}  </b> <br> {{c.lieu}} - {{c.date}} </p>
                  
                </div>
            
                    <hr class="separateurJaune">
                    <h3 class="titreCompetences">Langues</h3>
    
                    <div class="langue">
                      <div *ngFor="let c of cv.langues">                   
                          <div> <p> <b> {{c.nom}}</b> : {{c.niveau}}</p></div>
                      </div>
                    </div>
            </div>
    
            <!-- / Content  CV-->
          </div>

    </div>
  </div>
</div>