#debutimages
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 13px;
    text-align: center;
}
h1
{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
#cercle
{
    // width: 50px;
    width: 87px;
    height: 87px;
    padding: 10px 45px 15px 30px;
    border-radius: 100%;
    background-color: #F4F1F1;
    text-align: center;
}
.baniere
{
    width: 100%;
    height: 50px;	
    padding: auto;
    color: #717171;
    font-weight: bold;
    background: #f5f5f5;

}
#Apercu {

    font-weight: bold;  
    color: #717171;

    width: 84px;
    height: 28px;
    background: #FFCC00;
    border-radius: 15px;
}
strong{
    
    // font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    text-decoration-line: underline;
    
    color: #717171;
}
img {
    margin-bottom: 10px;
    width: 161.82px;
    height: 233.04px;
    border-radius: 2px;
    
}
#vue{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;

    color: #717171;
}