<section id="sectionGenerale">
  <div id="entete">
  
      <h1>EDACY<p class="font-weight-bold">PAGE ADMIN</p> <span id="cercle" class="text-center" ></span> </h1>
      
  </div>
  <div class="baniere">
      <div class="container">
         <div  class="row align-items-center">
         </div>
      </div>  
   </div>

<article id="debutimages" style="width: 95%; ">
   <!-- test -->
   <div class="container">

     <div class="row">
       <div class="col-3">
          <div> 
              <p id="vue" class="text-left"> Cohort 7</p>     
              <img  src="../../../assets/images/edacy.jpg" alt="photoTalent">
              <p> <strong>FATY BOBODIOUF</strong></p>
              <button id="Apercu">Voir</button>
          </div>
      </div>
      <div class="col-3 align-self-center">
          <div >
              <span style="font-size: 1.4em"><i style="font-size: 1.7em" class="fas fa-comments"></i> 4</span> <br> 
              <span style="font-size: 1.4em"> <i style="font-size: 1.7em" class="far fa-eye"></i> 12</span>
            </div>
          </div> 
          <div class="col-6 ">
            
            <p id="vue" class="text-left"> Vues</p>
            <div class="overflow-auto">

              <p  class="text-justify">
              fatouthiera.dioum@uadb.edu.sn,diallosaifoulaye65@yahoo.com,
              sarrabdouaziz5@gmail.com,francisng@gmail.com,
              mamssodiagiss@gmail.com,sylniame95@gmail.com,
              fatouthiera.dioum@uadb.edu.sn,diallosaifoulaye65@yahoo.com,
              sarrabdouaziz5@gmail.com,francisng@gmail.com,mamssodiagiss@gmail.com,
              sylniame95@gmail.com,taphadiop999@gmail.com 
            </p>
            </div>
          </div>
        </div>
      </div>
        <br>
        <!-- test -->

  <!-- <div style="display: flex; justify-content:space-between"> -->
      <!-- <div style="width:25%; padding: 5px;">
          <img style="width: 100%; border-radius: 5px" src="../../../assets/images/edacy.jpg" alt="photoTalent">
          <p> 
            <strong>FATY BOBODIOUF : Cohorte 7</strong> 
            <br> 
            Etre developpeur c'est participer au developpement numerique de l'afrique
            <br><button>Voir plus</button>
          </p>
        </div> -->
        <!-- <br>

        <div  style="width:25%; padding: 5px;">      
            <img  src="../../../assets/images/edacy.jpg" alt="photoTalent">
            <p> <strong>FATY BOBODIOUF</strong></p>
            <button id="Apercu">Voir</button>
        </div>


        <div style="margin-top:10%;">
          <span style="font-size: 1.4em"><i style="font-size: 1.7em" class="fas fa-comments"></i> 4</span> <br> 
          <span style="font-size: 1.4em"> <i style="font-size: 1.7em" class="far fa-eye"></i> 12</span>
        </div>
        <div>
          <ul style="list-style:none">
              <li><strong>Vues</strong></li>
            <li>Tigo Senegal : Ce talent m'interesse</li>
            <li>Orange : puis-je savoir comment proceder pour ce talent</li>
            <li>Wahab Entreprise: Moi je suis un entrepreneur </li>
            <li>Faty thiam: Femme de grande valeur </li>
            <li>Edacy : Edaciement Votre</li>
            <li>Entreprise: commentaire</li>
          </ul>

        </div>
  </div> -->

  <!-- <div style="display: flex; justify-content:space-between">
      <div style="width:25%; padding: 5px;">
          <img style="width: 100%; border-radius: 5px" src="../../../assets/images/edacy.jpg" alt="photoTalent">
          <p> 
            <strong>FATY BOBODIOUF : Cohorte 7</strong> 
            <br> 
            Etre developpeur c'est participer au developpement numerique de l'afrique
            <br><button>Voir plus</button>
          </p>
        </div>
        <div style="margin-top:10%;">
          <span style="font-size: 1.4em"><i style="font-size: 1.7em" class="fas fa-comments"></i> 4</span> <br> 
          <span style="font-size: 1.4em"> <i style="font-size: 1.7em" class="far fa-eye"></i> 12</span>
        </div>
        <div>
          <ul style="list-style:none">
              <li><strong>ENTREPRISE NOTE</strong></li>
            <li>Tigo Senegal : Ce talent m'interesse</li>
            <li>Orange : puis-je savoir comment proceder pour ce talent</li>
            <li>Wahab Entreprise: Moi je suis un entrepreneur </li>
            <li>Fty thiam: Femme de grande valeur </li>
            <li>Edacy : Edaciement Votre</li>
            <li>Entreprise: commentaire</li>
          </ul>

        </div>
  </div>

  <div style="display: flex; justify-content:space-between">
      <div style="width:25%; padding: 5px;">
          <img style="width: 100%; border-radius: 5px" src="../../../assets/images/edacy.jpg" alt="photoTalent">
          <p> 
            <strong>FATY BOBODIOUF : Cohorte 7</strong> 
            <br> 
            Etre developpeur c'est participer au developpement numerique de l'afrique
            <br><button>Voir plus</button>
          </p>
        </div>
        <div style="margin-top:10%;">
          <span style="font-size: 1.4em"><i style="font-size: 1.7em" class="fas fa-comments"></i> 4</span> <br> 
          <span style="font-size: 1.4em"> <i style="font-size: 1.7em" class="far fa-eye"></i> 12</span>
        </div>
        <div>
          <ul style="list-style:none">
              <li><strong>ENTREPRISE NOTE</strong></li>
            <li>Tigo Senegal : Ce talent m'interesse</li>
            <li>Orange : puis-je savoir comment proceder pour ce talent</li>
            <li>Wahab Entreprise: Moi je suis un entrepreneur </li>
            <li>Fty thiam: Femme de grande valeur </li>
            <li>Edacy : Edaciement Votre</li>
            <li>Entreprise: commentaire</li>
          </ul>

        </div>
  </div> -->


  
</article>
</section>