<div id="entete" class="align-self-center" >
    
    <h1 class="d-flex justify-content-between ">EDACY<a style="font-weight : bold;">ESPACE CV</a> <span id="cercle" class="text-center" ></span> </h1>
    
</div>
<!-- <div style="width: 100%;height: 610px; padding-top: 10%;background-color:black"> -->
<form  [formGroup]="form" (ngSubmit)="login(form)"  >
  <!-- <div class="form-group">
    <div class="col-sm-12">
      <label for="prenom">NOM OU MAIL</label>
    </div> style="text-align: center;background-color: rgba(97, 191, 174, 0.76)"
    <div class="col-sm-12"> class="offset-sm-3 col-sm-6"
      <input type="email" formControlName="email" id="prenom" class="form-control">
    </div>
  </div> -->



<div class="container">
  <div class="login ">
    <form [formGroup]="form" (ngSubmit)="login(form)" class="offset-sm-3 col-sm-6" >
      <div class="form-group">
        <fieldset>LOGIN</fieldset>
        <div class="col-sm-14">
          <label for="prenom">EMAIL</label>
        </div>
        <div class="col-sm-14">
          <input type="email" formControlName="email" id="prenom" class="form-control">
        </div>
      </div>

      <div class="form-group">
          <div class="col-sm-14">
            <label for="leGenre">PASSWORD</label>
          </div>
          <div class="col-sm-14">
            <input type="password" formControlName="password" id="leGenre" class="form-control">
          </div>
        </div>

      <div class="form-group" style="text-align:center">
        <div class="col-sm-14">
          <input type="submit" class="btn btn-primary" value="login">
        </div>
      </div>

    </form>
  </div>
</div>


</form>
<!-- <img style="margin-left: 40%;border: 5px solid rgba(33, 41, 39, 0.76);border-radius: 8px ;width: 250px; " src="../../assets/images/edacy.jpg" alt="imageTalent"> -->
<!-- </div> -->
