#entete {
    width: 90%;
    height: 87px;
    padding-top: 10px;
    margin: auto;
  }
  .container {
     padding-top: 40px;
     margin: auto;
  }
.login {
    margin: auto;
    padding: 40px 0px;
    width: 60%;
    background-color: #f5f5f5;
}
fieldset {
    text-align: center; 
    font-size: 20px;
}