<div id='a'>
    <div class="optionbar"> 
      <div class="telecharger">
        <div> <button routerLink="/editer" type="button" class="btn btn-outline-success">CV</button></div>
        <div><button routerLink="/profil" type="button" class="btn btn-outline-info">Profil</button></div>
      </div>
    </div>
    <div style="margin-top: 50px; text-shadow: #FC0 1px 0 10px" class="container ">
        Le parcours de la formation EDACY
        Les talents intéressés s'inscrivent en ligne avant la date limite. BAC+3, âge 18+
        <br><br>
        Les candidats retenus paient leurs frais de scolarité.
        Spécialisation
        Trois mois de formation en ligne et en présentiel avec accès aux mentors.
        <br><br>
        Les talents assistent également au Maker's Day pour apprendre les compétences techniques et interpersonnelles.
        examination
        Examen
        Evaluation à la fin de la spécialisation. Les talents qui réussissent sont invités au demoday.
        <br>
        Ceux qui échouent la première fois sont autorisés à reprendre l’examen gratuitement.
        bootcamp
        DEMODAY<br>
        Présentation des projets MVP réalisés pendant les 3 mois de spécilisation avec la méthodologie Design Thinking
        WorkLearning
        Apprendre avec la pratique, tout en étant payé en même temps.
        <br>
        Six mois en entreprise, en ligne et en présentiel.
        employment
        Emploi
        Emploi garanti à 100%.
        <br>
        Sinon, remboursement . 
    </div></div>
