#a
{
    margin: 0%;
    background-image: url('../../assets/images/ed.jpg');
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 610px;
	color: white;
	position: absolute;
	width: 100%;
}
.optionbar{
    // position: absolute;
    // width: 1440px;
    height: 46px;
    
    margin-top:  60px;
    margin-bottom:  40px;

    background: rgb(82, 79, 79);
}
.telecharger div {
    margin: auto;
}

.telecharger {
    display: flex;
    padding: 6px ;
    width : 21cm;
    margin: auto;
}
.container
{
    font-size: 1.3em;
    text-align: center;
}