
<div id="entete" class="align-self-center" >
  <h1 class="d-flex justify-content-between ">EDACY<a style="font-weight : bold;">ESPACE CV</a> <span id="cercle" class="text-center" ></span> </h1>
</div>

<div class="baniere">
  <div class="container">
     <div  class="row align-items-center">

     </div>
  </div>  
</div>

<br>
<div style="margin : 10px 0px;" class="filtre">

  <div class="container">
    <div class="row justify-content-between ">
      <div class="col-4 align-self-end">
        <label for="Select3"> <u> WorkLearners</u></label>
      </div>
        <div class="col-4">
          <label for="Select3">Recherche</label>
          <input class="form-control mr-sm-2" [(ngModel)]="search" type="search" placeholder="Active Research" aria-label="Search">
        </div>
      </div>
    </div>
</div>
  <!-- <2eme partie> -->

 <!-- <article style="display: flex; justify-content:space-around">
  <form style="width: 200px"><div class="form-group">
      <span><i class="fas fa-search" style="color: gray;position: absolute; margin: 10px 170px; font-size: 1.3em"></i></span>
      <input class="form-control" name="search" [(ngModel)]="search" type="text" id="select3" placeholder="Active Research">
    </div>
    
  </form>
</article> -->
<div class="talent" *ngFor="let cv of cvs|filtreTalent:search"  >
<ng-container  *ngIf="cv.toPublish=='true'">
  
  <div *ngFor="let im of img">
    <ng-container *ngIf="cv._id==im.talent">
         <img style="border: 5px solid rgba(33, 41, 39, 0.76);border-radius: 8px ;width: 350px; height: 350px" src="http://localhost:9000/fichiers/{{im.sound}}" alt="imageTalent">
        <p>  <br> <strong>{{cv.nom}}</strong></p>
        <button  style="box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.4);border: 2px solid #ffcc00; border-radius: 4px; background-color: rgba(97, 191, 174, 0.76); margin-left: 10px;margin-right: 10px">Commentaire</button>
        
        <button (click)="Afficher(cv._id)" style="box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.4);border: 2px solid #ffcc00; border-radius: 4px; background-color: rgba(97, 191, 174, 0.76)"  data-toggle="modal" data-target=".bd-example-modal-lg" >Voir CV</button>
  </ng-container>
  </div> 
 <!-- <div class="Generale">
  <div id="part1">
    <div class="enteteCV">
      <p>NOM: {{cv.nom}}</p>
    </div>
  <div class="petitinfo">      
    <p>NUMERO: {{cv.numero}}</p>
    <p>MAIL: {{cv.email}} </p>
    <p>LINKEDIN: {{cv.linkedin}}</p>
    <p>GITHUB: {{cv.github}}</p>
  </div>  
  <div id="blockLogo">
    <img style="border-radius: 3px" id="imageLogo" src="../../../assets/images/edacy.jpg" alt="ImageEdacy" >
  </div>
</div>


    <div >
      
    <table>
      <thead>
        <tr>
          <th class="b" colspan="6"> technologies  </th>
          <th class="b" colspan="6"> Compétences </th>
          <th colspan="8">  mentions</th>
        </tr>
      </thead>
      <tbody>
              
                <tr class="b" *ngFor="let c of cv.competences">
                    <td colspan="6">
                        <ng-container >
                          {{c.nom}}
                        </ng-container>
                      </td>
                    <td colspan="6">
                        <ng-container > 
                          {{c.type}}
                        </ng-container>
                      </td>
                <td style="background-color: #ffcc00d7" colspan="8">
                    <ng-container >
                      {{c.niveau}}
                    </ng-container>
                  </td>
          </tr>      
      <tr>    
    </tbody>
    </table>
    </div>
  </div>
    <hr class="separateurJaune">
    <h3 class="titreCompetences">Experiences professionnelles</h3>
    <div id="champExperience" *ngFor="let c of cv.experiences"> 

        <b>{{c.nom}} / {{c.entreprise}} / {{c.debut}} - {{c.fin}}</b> <br>
        <ul>
          <li>MISSION: {{c.mission}}</li>
          <li> {{c.description}}</li>
          <li> Environnement: Windows</li>
        </ul>  
    </div>
    
    <hr class="separateurJaune">
    <h3 class="titreCompetences">Formations</h3>
    <div id="champFormation" *ngFor="let c of cv.formations">

  </ng-container>
</div>
</section>

        <hr class="separateurJaune">
        <h3 class="titreCompetences">Langues</h3>
        <div id="champLangues" *ngFor="let c of cv.langues">
          <p>{{c.nom}} : {{c.niveau}}</p>            
        </div>
    </div> -->
<!-- </ng-container> -->
<!-- </div> -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="background: transparent; border :none;">
            
          <div class="">
              <h5 class="" style="text-align: center; color: white; " >{{cv.nom}}</h5>
            </div>
            <div class="modal-body">    
              <div class="Generale" id="contentToConvert">
                <div id="part1">
                  <div class="enteteCV">
                    <p>NOM: {{cv.nom}}</p>
                  </div>
                <div class="petitinfo">      
                  <p>NUMERO: {{cv.numero}} </p>
                  <p>MAIL: {{cv.email}} </p>
                  <p>LINKEDIN: {{cv.linkedin}}</p>
                  <p>GITHUB: {{cv.github}}</p>
                </div>  
                <div id="blockLogo">
                  <img style="border-radius: 3px" id="imageLogo" src="../../../assets/images/edacy.jpg" alt="ImageEdacy" >
                </div>
              </div>
              
              <hr class="separateurJaune">
              <div>
                <h1 id="titre">{{cv.programme}}</h1>
              
                  <div >       
                  <table>
                    <thead>
                      <tr>
                        <th class="b" colspan="6"> technologies  </th>
                        <th class="b" colspan="6"> Compétences </th>
                        <th colspan="8">mentions</th>
                      </tr>
                    </thead>
                    <tbody>
                            
                      <tr class="b" *ngFor="let c of cv.competences">
                                  <td colspan="6">
                                      <ng-container >
                                         {{c.nom}}
                                      </ng-container>
                                    </td>
                                  <td colspan="6">
                                      <ng-container > <!--AFFICHER LES COMPETENCES TECHNIQUES SEULEMENT-->
                                        {{c.type}}
                                      </ng-container>
                                    </td>
                                    <td style="background-color: #ffcc00d7" colspan="8">
                                  <ng-container ><!--AFFICHER LES COMPETENCES TECHNIQUES SEULEMENT-->
                                    {{c.niveau}}
                                  </ng-container>
                                </td>
                        </tr>      
                    <tr>    
                    </tbody>
                  </table>
                  </div>
                </div>
                  <hr class="separateurJaune">
                  <h1 class="titreCompetences">Experiences professionnelles</h1>
                  <div class="listeexp">
                  
                  <div *ngFor="let c of cv.experiences"> 
                    
                      <b>{{c.nom}} / {{c.entreprise}} / {{c.debut}} - {{c.fin}}</b> <br>
                      <ul>
                        <li>MISSION: {{c.mission}}</li>
                        <li> {{c.description}}</li>
                        <li> Environnement: Windows</li>
                      </ul>  
                      
                  </div>
                  </div>
                  
                  
                    <hr class="separateurJaune">
                  <h1 class="titreCompetences">Formations</h1>
                  <div *ngFor="let c of cv.formations">
              
                    <p><b>{{c.nom}}  </b> <br> {{c.lieu}} - {{c.date}} </p>
                    
                  </div>
              
                      <hr class="separateurJaune">
                      <h3 class="titreCompetences">Langues</h3>
      
                      <div class="langue">
                        <div *ngFor="let c of cv.langues">                   
                            <div> <p> <b> {{c.nom}}</b> : {{c.niveau}}</p></div>
                        </div>
                      </div>
              </div>
      
              <!-- / Content  CV-->
            </div>
  
      </div>
    </div>
  </div>
