.Generale
{
    // display: flex;
    // flex-direction: column;
    margin : auto;
    border: 2px solid #ffcc00;
    border-radius: 4px;
    // float: center;
    width : 21cm;
    height : 29.7cm;
    padding: 2.5cm;
    position: relative;
    background-color : #ffffff;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.4);
}
.talent {
    float: left;
    //width: 20%;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
#part1{
    width: 40%;
}
#sectionUn
{
    width: 20%;
    float: right;
    // display: flex;
    position :absolute;
    // margin: auto;
    // justify-content: space-around;
}
#enteteTexte
{

    // list-style-type: none;   
}
.separateurJaune
{
    background-color: #ffcc00;
    height: 2px;
    // text-align: center;
    // max-width: 50%;
}
// .titreCompetences
// {
//     text-align: center;
// }
#titre{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}
#imageLogo
{
    width: 50px;
    height: 50px; 
    // float: left;
    top :2.5cm;
    right: 2.5cm;
    // margin-right:; 
    position: absolute;
}
.petitinfo p{

font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 5px;  
} 
.debutimages {

  margin: 15px 0px;
  text-align: center;

}

section {
  margin: 40px 25px;
}

#entete {
  width: 90%;
  height: 87px;
  padding-top: 10px;
  margin: auto;
}

.talent {
  float: left;
  width: 20%;
  padding: 10px;
}


section h1 {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}


.baniere {
  width: 100%;
  height: 63px;
  padding: auto;
  color: #717171;
  font-weight: bold;
  background: #f5f5f5;

}

.vue {
  position: absolute;
  width: 236px;
  height: 60px;
  top: 120px;

  font-size: 18px;
  border: 1px solid;
  float: right;
}

.baniere li {
  font-size: 18px;
}

.com {
  font-size: 18px;

}

.envoi {
  margin: auto;

  width: 90px;
  height: 44px;
  background: #FFCC00;
  border-radius: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #717171;
}

#baniere a {
  color: #717171;
}

label {
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;

  color: #717171;
}

select {
  width: 80%;
  border: 1px solid #61BFAD;
}

#Apercu {

  font-weight: bold;
  color: #717171;
  width: 84px;
  height: 28px;
  background: #FFCC00;
  border-radius: 15px;
}

section strong {

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 13px;
  text-decoration-line: underline;
  color: #717171;
}

img {
  margin-bottom: 10px;
  width: 161.82px;
  border-radius: 2px;
}




// CSS DES APRECUS








.Generale {

  margin: auto;

  width: 21cm;
  height: 29.7cm;
  padding: 2.5cm;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 4px 21px #00000066;
}

#part1 {
  width: 40%;
}

#sectionUn {
  width: 20%;
  float: right;
  position: absolute;

}

.separateurJaune {
  background-color: #ffcc00;
  height: 2px;
}

#titre {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}

#imageLogo {
  width: 50px;
  height: 50px;
  top: 2.5cm;
  right: 2.5cm;
  position: absolute;
}

.petitinfo p {

  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 5px;
}

.enteteCV p {

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 5px;
}

#enteteTexte ul {
  top: 2.5cm;
  padding-left: 0cm;
  position: absolute;
}

#sectionDeux {
  margin-top: 10px;
  position: absolute;

}

.titreCompetences {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}

b {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}

p {
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
}

.listeexp li {
  font-style: normal;
  font-size: 10px;
  line-height: 14px;
}

th {
  border: 1px solid #D1D3C8;
  padding: 1px 3px;
  font-style: normal;
  font-size: 10px;
  font-weight: bold;
}

table {
  width: 100%;
  border: 1px solid #D1D3C8;
  background-color: #ffcc00d7;
  text-align: center;
}

td {
  border: 1px solid #D1D3C8;
  font-style: normal;
  font-size: 9px;
  padding: 2px 5px;
}

.special td {
  color: #b4b6ad;
  font-style: normal;
  font-size: 9px;
}

.b {
  background-color: #61BFAD;
}

.b1 {
  background-color: rgba(97, 191, 174, 0.76);
}

.niveau {
  background-color: #e0d08fd7;
}

.optionbar {
  height: 41px;
  margin-top: 60px;
  margin-bottom: 40px;
  background: #F5F5F5;

}

.telecharger {
  display: flex;
  padding: 6px;
  width: 21cm;
  margin: auto;
}

svg {
  margin: auto;
}

.langue {
  display: flex;
  justify-content: space-between;
}

.outils {
  display: flex;
}